
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/GetModulePath/.vs/*
library/GetModulePath/GetModulePath/bin/*
library/GetModulePath/GetModulePath/obj/*

# ignore PowerShell Studio MetaData
GetModulePath/GetModulePath.psproj
GetModulePath/GetModulePath.psproj.bak
GetModulePath/GetModulePath.psprojs
GetModulePath/GetModulePath.psproj

# ignore the TestResults
TestResults/*

# ignore the publishing Directory
publish/*